/*Main css*/
.right-space{
  margin-right: 1em;
}
.remove-float{
  float: none;
}
.top-space{
  margin-top: 1.5em;
}
.big-top-space{
  margin-top: 100px;
}
.large-padding{
  padding: 10px 15px;
}
.black{
  background-color: rgb(43, 43, 43);
}
.white-text{
  color:#fff;
}
.white{
  background-color: white;
}
nav{
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.2em;
}
nav li a {
  color: white;
}
nav li a:hover {
  color: white;
}
.border{
  border:solid 1px #eee;
}
.tr:nth-of-type(odd){
  background-color: #eee;
}
form.link{
  display: inline-block;
}
img{
  max-width: 100%;
}
.img-container{
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.img-container h1 h2{
  padding: 15px;
  border-bottom: 1px solid #222;
}
.img-container p {
  text-align: right;
  font-size: 1.2em;
  margin-top: 1em;
}
/*.main-img{

}*/
