extends ./layout.jade
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
    h1 Hola mundo , curso NodeJS + +Express + MongoDB 
    a(href="/login" class="btn btn-default right-space") Iniciar sesion
    a(href="/signup" class="btn btn-info right-space") Registro