extends ./layout.jade
block contenido
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text" class="form-control" name="email" placeholder="email" id="email")
    div(class="form-group")
      label(for="password") Contrase単a
      input(type="password" class="form-control" name="password" placeholder="Contase単a" id="password")    
    div(class="form-group")  
      label(for="password_confirmation") Confirma tu contrase単a
      input(type="password" class="form-control" name="password_confirmation" placeholder="Confirme contrase単a" id="password_confirmation")    
    div(class="form-group")
      label(for="username") Username
      input(type="text" class="form-control" name="username" placeholder="Username" id="username")
    div(class="form-group")
      input(type="submit" class="btn btn-info" value="Iniciar Sesion")