extends ../../layout.jade
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    form(action="/app/imagenes", method="POST")
      h1 Subir nueva imagen
      div(class="form-group")
        label(for="title") Titulo
        input(type="text" class="form-control" name="title" placeholder="Titulo de la imagen" id="title")
      div(class="form-group")
        label(for="archivo") Imagen
        input(type="file"  name="archivo" id="archivo") 
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          div(class="form-group" )
            input(type="submit" class="btn btn-info" value="Guardar")
        