extends ../../layout.jade
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    h1 Titulo #{imagen.title}
    if(typeof imagen.creator != "undefined")
      p por #{ imagen.creator.email }