extends ../../layout.jade
block contenido
  div(class="col-md-6 remove-float center-block top-space")
    div(class="img-container")
      h1 Titulo #{imagen.title}
      img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}" class="main-img")
      if(typeof imagen.creator != "undefined")
        p por #{ imagen.creator.email }